@import url(./fonts.css);

.inter {
    font-family: "Inter", sans-serif;
}

.rubik {
    font-family: "Rubik", sans-serif;
}

:root {
    --midnight: #0C0D45;
    --parrot: #99F22B;
}

body {
    font-family: "Alexandria", sans-serif;
    background-color: var(--midnight);
    font-weight: 300;
}

main {
    min-height: calc(100vh - (91px + 491px));
}

header .navbar {
    background-color: var(--midnight) !important;
}

.navbar-toggler-icon {
    background-image: url(../img/bars.svg);
}

.navbar-brand img {
    height: 65px !important;
    width: auto;
}

header .navbar-nav {
    gap: 40px;
}

header .nav-link {
    font-size: 15px;
    color: #ffffff !important;
    font-weight: 500;
    position: relative;
    padding: 0 !important;
}

header .nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
}

header .nav-link.dropdown-toggle::after {
    background-image: url(../img/chevron-down-parrot.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 8px;
    width: 15px;
    margin-left: 7.5px;
    border: 0 !important;
}

.nav-right {
    gap: 10px;
}

.nr-chat-link svg,
.nr-profile-link img {
    height: 48px;
    border-radius: 100px;
    width: 48px;
}

header .nr-profile-link.nav-link.dropdown-toggle::after {
    display: none !important;
}

header .dropdown-menu {
    min-width: 174px;
    padding: 15px;
    border-radius: 10px;
    background-color: #040536;
}

header .dropdown-menu .dropdown-item {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    padding: 7px 0 !important;
}

header .dropdown-menu .dropdown-item:hover,
header .dropdown-menu .dropdown-item.active {
    background-color: transparent !important;
    border-bottom: 1px solid #675DF4;

}

.navbar-toggler {
    padding: 0 !important;
    border: 0 !important;
}

footer {
    margin-top: 80px;
    background-color: #695DFD;
    border-radius: 40px 40px 0 0;
}

.footer-top {
    padding: 75px 0;
}

.footer-bottom {
    padding: 17px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.ft-link,
.fb-link,
.footer-bottom p {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.ft-link {
    line-height: 30px;
}


.ft-link:hover,
.fb-link:hover {
    color: #99F22B;
}

.ft-logo-link img {
    height: 42px;
    width: auto;
}

.ft-flex-1 {
    gap: 80px;
}

.ft-title {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
}

.ft-download-links {
    gap: 12px;
}

.ft-download-links img {
    height: 49px;
    width: auto;
}

.ft-social-links svg {
    width: 44px;
    border-radius: 100px;
    height: 44px;
    transition: 0.3s ease-in-out;
}

.ft-social-links svg rect {
    transition: 0.3s ease-in-out;
}

.ft-social-links svg:hover rect {
    stroke: #99F22B;
    stroke-opacity: 1;
}

.ftm-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ftm-links a {
    color: #ffffff;
    font-size: 13px;
}

.ft-middle {
    gap: 80px;
}

.ft-right {
    width: 220px;
}

.ftr-title {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 0;
    font-weight: 400;
}

.btn-ftr {
    padding: 7px 18px;
    width: fit-content;
    background-color: #99F22B;
    border-color: #99F22B !important;
    font-weight: 600;
    line-height: 33px;
    font-size: 18px;
    color: #101044;
    border-radius: 6px;
}


.btn-ftr svg {
    height: 24px;
    transition: 0.3s ease-in-out;
}

.btn-ftr:hover {
    background-color: #101044;
    color: #99F22B;
}

.btn-ftr svg path {
    transition: 0.3s ease-in-out;
}

.btn-ftr:hover svg path {
    fill: #99F22B;
}

.sb-notice {
    font-size: 20px;
    font-weight: 300;
}

.sale-banner {
    background-color: #695DFD;
    padding: 18px 0;
}

.sb-time {
    font-weight: 500;
}

.search-filters-cont {
    background-color: #1F204F;
}

.search-filters {
    gap: 20px;
}

.sf-pill {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.sf-pill-close svg {
    height: 24px;
    width: 24px;
}

.product-list-card {
    display: block;
    text-decoration: none !important;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    background-color: #1F204F;
    position: relative;
}

.plcb-location {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
}

.plc-top {
    position: relative;
}

.plc-pill {
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 400;
    width: fit-content;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 10px;
    top: 10px;
}

.plc-pill-white {
    background-color: #EEF0FF;
    color: #161543;
}

.plc-pill-black {
    background-color: #13141A;
    color: #EEF0FF;
}

.product-list-row>div {
    padding-left: 10px;
    padding-right: 10px;
}

.search-sec {
    padding: 20px 0;
}

.plc-img {
    height: 260px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4/3;
}

.csmart-logo {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.grade-badge-cont {
    position: absolute;
    bottom: 1px;
    right: 0;
    text-align: right;
    transform: translateY(50%);
}

.grade-badge-img {
    transform: translateX(3px);
    height: 25px;
    width: 126px;
}

.gb-text {
    font-size: 14px;
    color: #101044;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-weight: 400;
}

.plc-bottom {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.plcb-name {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.plcb-details {
    font-size: 14px;
    font-size: 200;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
}

.plcb-circle {
    height: 4px;
    width: 4px;
    display: block;
    border-radius: 100px;
    background-color: #ffffff;
}

.plc-price-title {
    font-size: 16px;
    font-weight: 300;
}

.plc-price-amount {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}

.make-logo {
    border-radius: 100px;
    height: 24px;
    width: 24px;
}

.plcb-price-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plcb-price-cont .make-logo {
    height: 30px;
    width: 30px;
}

.plcb-plate-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plc-plate-number {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding-right: 10px;
}

.plc-num-plate {
    width: fit-content;
    gap: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    background-color: #EEF0FF;
    border-radius: 2px;
}

.plcb-blue {
    height: 22px;
    width: 13px;
    background-color: #3748EA;
}

.search-filters-box {
    padding: 24px 20px;
    background-color: #1F204F;
    border-radius: 10px;
}

.sfb-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sfb-label {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.sfb-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Customize the slider line */
.sfb-field .rangeslider__fill {
    background-color: #695DFD;
    /* Blue color for filled part */
}

.sfb-field .rangeslider {
    height: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.sfb-field .rangeslider__handle {
    background-color: #ffffff;
    /* Blue color for the thumb */
    border: 6px solid #99F22B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.sfb-min-max {
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sfb-select {
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 4px;
    border-color: transparent !important;
    background-image: url(../img/white-chev-down.svg);
    background-size: 24px;
}

.sfb-select:focus {
    box-shadow: none !important;
}

.sfb-select option {
    color: #fff;
    background-color: var(--midnight);
}

.sfb-top {
    display: flex;
    gap: 10px;
}

.sfb-saved-select {
    flex-grow: 1;
}

.sfb-saved-select .sfb-select {
    border-radius: 100px;
}

.btn-sfb-save {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #ffffff !important;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 100px;
    padding: 8px 20px;
    border-color: transparent !important;
}

.btn-sfb-save img {
    height: 21px;
    width: 21px;
    object-fit: contain;
}

.sfb-flex-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sfb-flex-1>div {
    width: 100%;
}

.products-pagination {
    gap: 8px;
}

.products-pagination .page-link {
    height: 32px;
    width: 32px;
    font-weight: 600;
    background-color: #1F204F;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    justify-content: center;
}

.products-pagination .page-link:hover,
.products-pagination .page-link.active {
    border-color: #fff;
}

/* Forms Pages */

.form-page {
    background-color: #000000;
    background-image: url(../img/Stars-bg.svg), url(../img/form-page-bg.png);
    background-position: top center, center;
    background-size: 70% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    min-height: 100vh;
}
.signin-car-float{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 380px;
}
.form-page main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fp-logo {
    height: 58px;
    margin: 35px auto;
}

.fp-form-cont {
    width: 405px;
}

.fp-form-box {
    position: relative;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(100px);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow:
        inset 2px 4px 16px rgba(248, 248, 248, 0.06),
        /* Inside shadow */
        0 24px 24px -16px rgba(5, 5, 5, 0.09),
        /* Outer shadow 1 */
        0 6px 13px rgba(5, 5, 5, 0.1),
        /* Outer shadow 2 */
        0 6px 4px -4px rgba(5, 5, 5, 0.1),
        /* Outer shadow 2 */
        0 5px 1.5px -4px rgba(5, 5, 5, 0.25);
    /* Outer shadow 3 */
}

.fp-form-box-outer {
    position: relative;
    padding: 1.5px;
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 32px;
}

.fp-form-box-outer::before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    right: 1.5px;
    bottom: 1.5px;
    background: #04042A;
    border-radius: 32px;
    z-index: 0;
}

.fp-form-title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.fp-form .form-fields {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.fp-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.fp-form .form-label {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.fpf-inp {
    font-size: 14px;
    color: #ffffff !important;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(238, 238, 238, 0.2);
}
.fpf-inp-cont {
    position: relative;
}

.fpf-alert{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background-color: rgba(242, 35, 35, 0.3);
    border: 1px solid rgba(242, 35, 35, 1);
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.fpf-alert img{
    height: 24px;
}

.fpf-error .fpf-inp{
    border-color: rgba(242, 35, 35, 0.6);
    background-color: rgba(242, 35, 35, 0.2) !important;
    background-image: url(../img/error-circle.svg);
    background-size: 24px;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}

.fpf-valid .fpf-inp{
    background-image: url(../img/valid-check.svg);
    background-size: 24px;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}

.fpf-valid .fpf-show-icon,
.fpf-error .fpf-show-icon{
    right: 40px;
}

.fpf-inp::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.fpf-show-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember-and-link {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

.remember-and-link a {
    color: #ffffff;
}

.remember-and-link .form-check {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.remember-and-link .form-check-input {
    height: 20px;
    width: 20px;
    float: unset !important;
    margin: 0 !important;
    border-radius: 100px;
    border: 1.5px solid #ffffff;
    background-color: transparent !important;
}

.fpf-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fpf-bottom-text {
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}

.fpf-bottom-text a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.fp-footer p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.fp-footer p span {
    color: rgba(255, 255, 255, 0.95);
}

.fp-flex-1 {
    gap: 16px;
}

.form-lines {
    margin-top: 40px;
    flex-shrink: 1;
    width: calc((100% - 410px)/2);
}

.form-lines img {
    height: 256px;
    width: auto;
    max-width: 100% !important;
}

.form-lines:first-child{
    text-align: right;
}
.form-lines:last-child{
    text-align: left;
}

.fpf-show-icon.shown::after{
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 11%;
    transform: rotate(45deg) translate(-100%, -58%);
    transform-origin: center;
    background-color: #ffffff;
}
.signin-3-page main{
    position: relative;
}
.signin-3-page .fp-flex-1{
    position: relative;
}
.signin-3-page main::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(50%);
    background-position: center;
    background-color: red;
    background-image: url(../img/signin-3-bg.png);
    background-size: cover;
    z-index: 0;
    border-radius: 0 0 40px 40px;
}
/* Forms Pages End */
@media (min-width: 1400px) {

    .footer-cont {
        max-width: 1220px;
        margin: 0 auto;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1384px;
    }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--midnight);
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }

    .ft-flex-1 {
        flex-wrap: wrap;
    }
}

@media (max-width: 992px) {
    .ft-middle {
        flex-grow: 1;
        justify-content: space-between;
        order: 3;
    }

    .ft-right {
        order: 2;
    }
    .form-lines{
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 40px !important;
    }

    .nr-chat-link svg,
    .nr-profile-link img {
        height: 36px;
        width: 36px;
    }

    .ft-logo-link img {
        height: 36px;
    }

    .ft-middle {
        gap: 30px;
    }

    .ft-right {
        width: 100%;
    }
    .form-page{
        background-size: 100% auto, 100% 100%;
    }
    .signin-car-float{
        height: 180px;
    }
}


@media (max-width: 576px) {
    .ft-middle {
        gap: 30px;
        flex-wrap: wrap;
    }

    .ft-flex-1 {
        gap: 50px;
    }

    .search-filters {
        gap: 12px;
    }
}