@import url(./fonts.css);

.inter {
    font-family: "Inter", sans-serif;
}

.rubik {
    font-family: "Rubik", sans-serif;
}

:root {
    --midnight: #0C0D45;
    --parrot: #99F22B;
}

.text-parrot {
    color: var(--parrot);
}

body {
    overflow-x: hidden;
    font-family: "Alexandria", sans-serif;
    background-color: var(--midnight);
    font-weight: 300;
}

main {
    min-height: calc(100vh - (91px + 491px));
}

header .navbar {
    background-color: var(--midnight) !important;
    position: relative;
    z-index: 9;
}

.navbar-toggler-icon {
    background-image: url(../img/bars.svg);
}

.navbar-brand img {
    height: 65px !important;
    width: auto;
}

header .navbar-nav {
    gap: 40px;
}

header .nav-link {
    font-size: 15px;
    color: #ffffff !important;
    font-weight: 500;
    position: relative;
    padding: 0 !important;
}

header .nav-link.dropdown-toggle {
    display: flex;
    align-items: center;
}

header .nav-link.dropdown-toggle::after {
    background-image: url(../img/chevron-down-parrot.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 8px;
    width: 15px;
    margin-left: 7.5px;
    border: 0 !important;
}

.nav-right {
    gap: 10px;
}

.nr-chat-link svg,
.nr-profile-link img {
    height: 48px;
    border-radius: 100px;
    width: 48px;
}

header .nr-profile-link.nav-link.dropdown-toggle::after {
    display: none !important;
}

header .dropdown-menu {
    min-width: 174px;
    padding: 15px;
    border-radius: 10px;
    background-color: #040536;
}

header .dropdown-menu .dropdown-item {
    font-weight: 300;
    font-size: 15px;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    padding: 7px 0 !important;
}

header .dropdown-menu .dropdown-item:hover,
header .dropdown-menu .dropdown-item.active {
    background-color: transparent !important;
    border-bottom: 1px solid #675DF4;

}

.navbar-toggler {
    padding: 0 !important;
    border: 0 !important;
}

footer {
    background-color: #695DFD;
    position: relative;
    border-radius: 40px 40px 0 0;
}


.footer-top {
    background-color: #101044;
    border-radius: 40px 40px 0 0;
    padding: 75px 0 50px;
}

.pf-content {
    max-width: 580px;
}

.pf-cont {
    padding: 90px 0;
    background-image: url(../img/pre-footer-img.png);
    background-size: 715px auto;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.pf-title {
    color: #FFFFFF;
    line-height: 110%;
    font-size: 62px;
}

.pf-title img {
    height: 62px;
}

.pf-subtitle {
    line-height: 110%;
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
}

.footer-bottom {
    background-color: #101044;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.ft-link,
.fb-link,
.footer-bottom p {
    text-decoration: none;
    font-size: 13px;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.ft-link {
    line-height: 30px;
}


.ft-link:hover,
.fb-link:hover {
    color: #99F22B;
}

.ft-logo-link img {
    height: 42px;
    width: auto;
}

.ft-flex-1 {
    justify-content: space-between;
    gap: 60px;
}

.ft-title {
    color: #ffffff;
    font-size: 17px;
    font-weight: 500;
}

.ft-download-links {
    gap: 8px;
}

.ft-download-links img {
    height: 49px;
    width: auto;
}

.ft-social-links svg {
    width: 44px;
    border-radius: 100px;
    height: 44px;
    transition: 0.3s ease-in-out;
}

.ft-social-links svg rect {
    transition: 0.3s ease-in-out;
}

.ft-social-links svg:hover rect {
    stroke: #99F22B;
    stroke-opacity: 1;
}

.ftm-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ftm-links a {
    color: #ffffff;
    font-size: 13px;
}

.ft-middle {
    gap: 60px;
}

.ft-right {
    width: 235px;
}

.ftr-title {
    color: #ffffff;
    font-size: 26px;
    margin-bottom: 0;
    font-weight: 400;
}

.btn-main {
    padding: 7px 18px;
    width: fit-content;
    background-color: #99F22B;
    border-color: #99F22B !important;
    font-weight: 600;
    line-height: 33px;
    font-size: 18px;
    color: #101044;
    border-radius: 6px;
}


.btn-main svg {
    height: 24px;
    transition: 0.3s ease-in-out;
}

.btn-main:hover {
    background-color: #101044;
    color: #99F22B;
}

.btn-main svg path {
    transition: 0.3s ease-in-out;
}

.btn-main:hover svg path {
    fill: #99F22B;
}

.sb-notice {
    font-size: 20px;
    font-weight: 300;
}

.sale-banner {
    background-color: #695DFD;
    padding: 18px 0;
}

.sb-time {
    font-weight: 500;
}

.search-filters-cont {
    background-color: #1F204F;
}

.search-filters {
    gap: 20px;
}

.sf-pill {
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}

.sf-pill-close svg {
    height: 24px;
    width: 24px;
}

.product-list-card {
    display: block;
    text-decoration: none !important;
    border-radius: 10px;
    height: 100%;
    overflow: hidden;
    background-color: #1F204F;
    position: relative;
}

.plcb-location {
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 8px;
}

.plc-top {
    position: relative;
}

.plc-pill {
    padding: 8px 20px;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 400;
    width: fit-content;
    object-fit: cover;
    object-position: center;
    position: absolute;
    left: 10px;
    top: 10px;
}

.plc-pill-white {
    background-color: #EEF0FF;
    color: #161543;
}

.plc-pill-black {
    background-color: #13141A;
    color: #EEF0FF;
}

.plc-pill-green {
    background-color: #064E3B;
    color: #ffffff;
}

.plc-pill-golden {
    background-color: #AF800E;
    color: #ffffff;
}

.plc-pill-right {
    right: 10px;
    left: unset;
    top: 10px;
}

.product-list-row>div {
    padding-left: 10px;
    padding-right: 10px;
}

.search-sec {
    padding: 20px 0;
}

.plc-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 4/3;
}

.csmart-logo {
    height: 35px;
    width: 35px;
    border-radius: 100px;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.grade-badge-cont {
    position: absolute;
    bottom: 1px;
    right: 0;
    text-align: right;
    transform: translateY(50%);
}

.grade-badge-img {
    transform: translateX(3px);
    height: 25px;
    width: 126px;
}

.gb-text {
    font-size: 14px;
    color: #101044;
    position: absolute;
    z-index: 1;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    font-weight: 400;
}

.plc-bottom {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.plcb-name {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.plcb-details {
    font-size: 14px;
    font-size: 200;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
}

.plcb-circle {
    height: 4px;
    width: 4px;
    display: block;
    border-radius: 100px;
    background-color: #ffffff;
}

.plc-price-title {
    font-size: 16px;
    font-weight: 300;
}

.plc-price-amount {
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}

.plc-bid-price-amount {
    font-size: 16px;
}

.card-sale-notice {
    font-size: 14px;
    padding: 5px;
    text-align: center;
    color: #ffffff;
    line-height: 24px;
}

.quick-sale-card .card-sale-notice {
    background-color: #064E3B;
}

.quick-sale-card {
    background-color: #064E3B;
}

.whole-sale-card .card-sale-notice {
    background-color: #AF800E;
}

.whole-sale-card {
    background-color: #AF800E;
}

.smartconnect-sale-card .card-sale-notice {
    background-color: #695DFD;
}

.make-logo {
    border-radius: 100px;
    height: 24px;
    width: 24px;
}

.plcb-price-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plcb-price-cont .make-logo {
    height: 30px;
    width: 30px;
}

.plcb-plate-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plc-plate-number {
    font-size: 14px;
    font-weight: 600;
    color: #000000;
    padding-right: 10px;
}

.plc-num-plate {
    width: fit-content;
    gap: 5px;
    display: flex;
    align-items: center;
    border: 2px solid #FFFFFF;
    background-color: #EEF0FF;
    border-radius: 2px;
}

.plcb-blue {
    height: 22px;
    width: 13px;
    background-color: #3748EA;
}

.search-filters-box {
    padding: 24px 20px;
    background-color: #1F204F;
    border-radius: 10px;
}

.sfb-field {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.sfb-label {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}

.sfb-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Customize the slider line */
.sfb-field .rangeslider__fill {
    background-color: #695DFD;
    /* Blue color for filled part */
}

.sfb-field .rangeslider {
    height: 8px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.sfb-field .rangeslider__handle {
    background-color: #ffffff;
    /* Blue color for the thumb */
    border: 6px solid #99F22B;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.sfb-min-max {
    margin-top: 2px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sfb-select {
    background-color: rgba(255, 255, 255, 0.2) !important;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 4px;
    border-color: transparent !important;
    background-image: url(../img/white-chev-down.svg);
    background-size: 24px;
}

.sfb-select:focus {
    box-shadow: none !important;
}

.sfb-select option {
    color: #fff;
    background-color: var(--midnight);
}

.sfb-top {
    display: flex;
    gap: 10px;
}

.sfb-saved-select {
    flex-grow: 1;
}

.sfb-saved-select .sfb-select {
    border-radius: 100px;
}

.btn-sfb-save {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #ffffff !important;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    border-radius: 100px;
    padding: 8px 20px;
    border-color: transparent !important;
}

.btn-sfb-save img {
    height: 21px;
    width: 21px;
    object-fit: contain;
}

.sfb-flex-1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sfb-flex-1>div {
    width: 100%;
}

.products-pagination {
    gap: 8px;
}

.products-pagination .page-link {
    height: 32px;
    width: 32px;
    font-weight: 600;
    background-color: #1F204F;
    border-radius: 4px;
    border: 1px solid transparent;
    padding: 0px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    justify-content: center;
}

.products-pagination .page-link:hover,
.products-pagination .page-link.active {
    border-color: #fff;
}

/* Forms Pages */

.form-page {
    background-color: #000000;
    background-image: url(../img/Stars-bg.svg), url(../img/form-page-bg.png);
    background-position: top center, center;
    background-size: 70% auto, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    min-height: 100vh;
}

.signin-car-float {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 380px;
}

.form-page main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fp-logo {
    height: 58px;
    margin: 35px auto;
}

.fp-form-cont {
    width: 405px;
}

.fp-form-box {
    position: relative;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(100px);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    box-shadow:
        inset 2px 4px 16px rgba(248, 248, 248, 0.06),
        /* Inside shadow */
        0 24px 24px -16px rgba(5, 5, 5, 0.09),
        /* Outer shadow 1 */
        0 6px 13px rgba(5, 5, 5, 0.1),
        /* Outer shadow 2 */
        0 6px 4px -4px rgba(5, 5, 5, 0.1),
        /* Outer shadow 2 */
        0 5px 1.5px -4px rgba(5, 5, 5, 0.25);
    /* Outer shadow 3 */
}

.fp-form-box-outer {
    position: relative;
    padding: 1.5px;
    background-image: linear-gradient(150deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 32px;
}

.fp-form-box-outer::before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    right: 1.5px;
    bottom: 1.5px;
    background: #04042A;
    border-radius: 32px;
    z-index: 0;
}

.fp-form-title {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
}

.fp-form .form-fields {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.fp-form .form-group {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.fp-form .form-label {
    margin: 0;
    font-size: 14px;
    color: #ffffff;
}

.fpf-inp {
    font-size: 14px;
    border-radius: 6px;
    color: #ffffff !important;
    padding: 10px 12px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(238, 238, 238, 0.2);
}

.fpf-inp-cont {
    position: relative;
}

.fpf-alert {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background-color: rgba(242, 35, 35, 0.3);
    border: 1px solid rgba(242, 35, 35, 1);
    color: rgba(255, 255, 255, 0.8);
    font-size: 12px;
}

.fpf-alert img {
    height: 24px;
}

.fpf-error .fpf-inp {
    border-color: rgba(242, 35, 35, 0.6);
    background-color: rgba(242, 35, 35, 0.2) !important;
    background-image: url(../img/error-circle.svg);
    background-size: 24px;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}

.fpf-valid .fpf-inp {
    background-image: url(../img/valid-check.svg);
    background-size: 24px;
    background-position: calc(100% - 12px) center;
    background-repeat: no-repeat;
}

.fpf-valid .fpf-show-icon,
.fpf-error .fpf-show-icon {
    right: 40px;
}

.fpf-inp::placeholder,
.dropdown-checks .fpf-inp {
    color: rgba(255, 255, 255, 0.3) !important;
}

.fpf-show-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.remember-and-link {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
}

.remember-and-link a {
    color: #ffffff;
}

.remember-and-link .form-check {
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    gap: 10px;
}

.remember-and-link .form-check-input {
    height: 20px;
    width: 20px;
    float: unset !important;
    margin: 0 !important;
    border-radius: 100px;
    border: 1.5px solid #ffffff;
    background-color: transparent !important;
}

.fpf-bottom {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.fpf-bottom-text {
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size: 12px;
}

.fpf-bottom-text a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
}

.fp-footer p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.fp-footer p span {
    color: rgba(255, 255, 255, 0.95);
}

.fp-flex-1 {
    gap: 16px;
}

.form-lines {
    margin-top: 40px;
    flex-shrink: 1;
    width: calc((100% - 410px)/2);
}

.form-lines img {
    height: 256px;
    width: auto;
    max-width: 100% !important;
}

.form-lines:first-child {
    text-align: right;
}

.form-lines:last-child {
    text-align: left;
}

.fpf-show-icon.shown::after {
    content: "";
    height: 100%;
    width: 2px;
    position: absolute;
    top: 50%;
    left: 11%;
    transform: rotate(45deg) translate(-100%, -58%);
    transform-origin: center;
    background-color: #ffffff;
}

.signin-3-page main {
    position: relative;
}

.signin-3-page .fp-flex-1 {
    position: relative;
}

.signin-3-page main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: calc(50%);
    background-position: center;
    background-color: red;
    background-image: url(../img/signin-3-bg.png);
    background-size: cover;
    z-index: 0;
    border-radius: 0 0 40px 40px;
}

/* Forms Pages End */

/* Signup Page */
.signup-header {
    display: flex;
    flex-direction: column;
    background-color: #05041A;
    background-image: url(../img/signun-hero-car.png), url(../img/Modern-2.svg);
    background-size: contain, cover;
    background-position: bottom right, center;
    background-repeat: no-repeat, no-repeat;
    height: 650px;
}

.signup-header .navbar {
    background-color: transparent !important;
}

.signup-cta {
    border-radius: 40px 40px 0 0;
    padding: 150px 0;
    background-color: #05041A;
    background-image: url(../img/Modern-2.svg);
    background-size: cover;
    background-position: center;
}

.signup-cta-title {
    font-size: 48px;
    font-weight: 500;
}

.shc-title img {
    height: 80px;
}

.shc-title h2 {
    line-height: 110%;
    font-size: 80px;
    color: #fff;
}

.purple-underline {
    position: relative;
    width: fit-content !important;
}

.purple-underline::after {
    position: absolute;
    content: '';
    background-image: url(../img/purple-underline.png);
    background-size: 100%;
    background-repeat: no-repeat;
    top: 100%;
    left: 0;
    width: 100% !important;
    max-width: 100% !important;
    height: 13px;
}

.signup-help-box {
    display: flex;
    gap: 30px;
    border-radius: 40px;
    background-color: #1F204F;
    padding-right: 40px;
    overflow: hidden;
}

.shb-img-cont {
    background-color: #D6DFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.shb-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 0;
}

.shb-img-cont img {
    margin-bottom: -1px;
    display: block;
    object-fit: contain;
    object-position: bottom;
    height: 214px;
}

.signup-page-cont {
    max-width: 1200px;
    margin: 0 auto;
}

.signup-flex-main {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.shb-content img {
    height: 60px;
}

.shb-title {
    font-size: 30px;
}

.shb-link {
    font-size: 20px;
    font-weight: 500;
    color: #695DFD;
    text-decoration: underline;
}

.signup-form-box {
    background-color: #1F204F;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 40px;
}

.sfb-btn {
    margin-top: 40px;
}

.sfb-submit .btn-main {
    width: 100% !important;
}

.signup-form-steps {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sfb-border {
    border-top: 1px solid #D3D4FD;
}

.sfs-nav {
    gap: 30px;
    justify-content: center;
}

.sfs-nav .nav-item {
    gap: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}


.sfs-nav-text {
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}

.sfs-nav .nav-link .sfs-number {
    display: none;
}

.sfs-nav .nav-item.active-tab~.nav-item .nav-link .sfs-number {
    display: block;
}

.sfs-nav .nav-item.active-tab~.nav-item .nav-link .sfs-check {
    display: none;
}

.sfs-nav .nav-item.active-tab~.nav-item .nav-link {
    border: 2px solid rgba(211, 212, 253, 0.2);
}

.sfs-nav .nav-link .sfs-check {
    height: 32px;
    width: 32px;
}

.sfs-nav .nav-link {
    padding: 0 !important;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 100%;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    height: 32px !important;
    width: 32px !important;
    border: 0;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}

.sfs-nav .nav-link {
    position: relative;
}

.sfs-nav .nav-item:nth-child(2) .nav-link::before {
    content: "";
    position: absolute;
    top: 14px;
    left: 0;
    height: 2px;
    background-color: #99F22B;
    width: 160px;
    transform: translateX(calc(-100% - 7px));
}

.sfs-nav .nav-item:nth-child(2) .nav-link::after {
    content: "";
    position: absolute;
    top: 14px;
    right: 0;
    height: 2px;
    background-color: #99F22B;
    width: 154px;
    transform: translateX(calc(100% + 6px));
}

.sfs-nav .nav-item.active-tab+.nav-item .nav-link::after {
    background-color: transparent;
}

.signup-form-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.sfc-row {
    margin: 0 -0.25rem !important;
}

.sfc-form-group {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
}

.sfc-label {
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
}

.sfc-row>div {
    padding: 0 0.25rem;
}

.sfc-inp {
    background-color: rgba(255, 255, 255, 0.2) !important;
}

.sfc-info {
    height: 20px;
    cursor: pointer;
    width: 20px;
}

.sfc-help-text {
    margin-bottom: -2px !important;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
}

.sfc-checks {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.sfc-checks .form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 0 !important;
}

.check-type-1 .form-check-input {
    float: unset;
    margin: 0 !important;
    height: 18px;
    border-radius: 4px !important;
    width: 18px;
    background-color: transparent;
    border: 2px solid #675DF4;
}

.check-type-1 .form-check-input:checked {
    background-image: url(../img/check-type-1.svg) !important;
    background-size: 18px 18px;
}

.dropdown-checks .dropdown-menu {
    width: 100%;
    background-color: transparent;
    padding: 0 !important;
    border-radius: 6px;
    overflow: hidden;
    position: static !important;
    inset: unset !important;
    margin: 3px 0 0 !important;
    transform: unset !important;
}

.dropdown-checks .form-check {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 0 !important;
    padding: 12px !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(119, 119, 147, 1);
}

.dropdown-checks .form-check-label {
    flex-grow: 1;
}

.dropdown-checks .form-check-input {
    float: unset;
    margin: 0 !important;
    height: 18px;
    border-radius: 4px !important;
    width: 18px;
    background-color: transparent;
    border: 2px solid #ffffff;
}

.dropdown-checks ul li:last-child .form-check {
    border-bottom: 0 !important;
}

.dropdown-checks .form-check-input:checked {
    background-image: url(../img/dropdown-checks.svg) !important;
    background-size: 18px 18px;
}

.dropdown-checks .sfc-inp {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-checks .sfc-inp svg {
    height: 10px;
}

.signup-confirm-box {
    background-color: #1F204F;
    border-radius: 40px;
    gap: 30px;
}

.signup-confirm-cont {
    background-image: url(../img/poppers.svg);
    background-position: top center;
    background-size: auto 250px;
    background-repeat: no-repeat;
}

.scb-flex {
    gap: 10px;
}

.signup-confirm-box {
    max-width: 860px;
    margin: 0 auto;
}

.scb-box {
    font-size: 20px;
    font-weight: 200;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    padding: 30px;
}

.scb-title {
    font-size: 40px;
    color: #695DFD;
    font-weight: 500;
}

.scb-desc {
    font-size: 24px;
    font-weight: 400;
}

.signupInfoModal .modal-dialog {
    max-width: 773px !important;
}

.signupInfoModal .modal-content {
    background-color: #1F204F;
    border-radius: 40px;
    padding: 40px;
}

.signupInfoModal .modal-header {
    padding-bottom: 20px !important;
}

.signupInfoModal .modal-title {
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.signupInfoModal .btn-close {
    box-shadow: none !important;
    padding: 0 !important;
    height: auto;
    width: auto;
    background-image: unset;
}

.signupInfoModal .sim-desc {
    font-size: 13px;
    font-weight: 200;
    color: #fff;
}

.signupInfoModal .sim-desc-1 {
    margin-bottom: 10px !important;
}

.sim-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sim-title {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

.sim-desc a {
    margin-left: 4px;
    color: #675DF4;
}

/* Signup Page End */
/* Homepage */
.navbar .btn {
    padding: 7.5px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 28px;
}

.btn-outline-main {
    border-color: #99F22B !important;
    color: #99F22B;
    background-color: transparent;
}

.btn-outline-main:hover {
    border-color: #99F22B !important;
    color: #101044;
    background-color: #99F22B;
}

.homepage {
    background-color: #101044;
}

.homepage .navbar {
    background-color: transparent !important;
}

.home-header {
    display: flex;
    flex-direction: column;
    background-size: contain, cover;
    background-position: bottom right, center;
    background-repeat: no-repeat, no-repeat;
    height: 650px;
    position: relative;
    margin-bottom: 160px;
}

.home-hero-content {
    max-width: 600px;
}

.hhc-title img {
    height: 80px;
}

.hhc-title h2 {
    line-height: 110%;
    font-size: 80px;
    color: #fff;
}

.home-hero-content .btn-main,
.signup-hero-content .btn-main {
    padding: 10px 28px;
    line-height: 33px;
}

.home-hero-car-cont {
    text-align: center;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 65%;
    height: 100%;
}

.hhv-img {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    right: 0;
    z-index: 0;
    transform: translateY(50%);
}

.hhc-img {
    height: auto;
    width: 80%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

.hh-tooltip {
    position: absolute;
    z-index: 2;
}

.hh-tooltip img {
    height: 82px;
}

.hht-1 {
    bottom: 75%;
    left: 10%;
}

.hht-2 {
    top: 0;
    left: 50%;
    transform: translate(0%, -100%);
}

.hs-1-img {
    width: 411px;
    max-width: 100%;
}

.home-sec-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    color: #ffffff;
}

.hs-title {
    font-size: 60px;
    font-weight: 500;
}

.hs-desc {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}
.home-sec-2-imgs{
    transform: translateX(-25%);
}
.hs-2-img {
    width: 385px;
    max-width: 100%;
}

.hs-2-img img {
    width: 100%;
}

.hs-2-img-2 {
    position: absolute;
    bottom: 25px;
    left: 150px;
}

.hs-2-img-1 {
    position: relative;
}

.hht-3 {
    top: 0;
    left: 30%;
    transform: translate(-50%, -90%);
}

.hs-3-imgs {
    position: absolute;
    width: 50%;
    left: 0;
}

.hs-3-img-1 {
    width: 100%;
    position: relative;
    z-index: 1;
}

.hs-3-img-2 {
    width: 60%;
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    transform: translateY(-50%);
}

.hs-3-img-1 img {
    width: 100%;
}

.hs-3-img-2 img {
    width: 100%;
}

.hht-4 {
    top: 0;
    right: 7%;
    transform: translateY(-50%);
}

.hht-5 {
    top: 0;
    right: 7%;
    transform: translateY(-80%);
}

.hs-4-mobile {
    height: 512px;
    width: 249px;
    margin: 0 auto;
    position: relative;
}

.hs-4-frame {
    position: relative;
    height: 100%;
    z-index: 0;
}

.hs-4-iframe {
    padding: 10px 9px;
    border-radius: 50px;
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
    top: 0;
    width: 390px;
    transform: scale(0.6) translateX(12px) translateY(10px);
    bottom: 0 !important;
    height: 163%;
    transform-origin: left top;
    scrollbar-width: none;
}

.hht-6 {
    top: 50%;
    right: 0;
    width: 280px;
    height: auto;
    transform: translate(60%, -50%);
}

.hh-tooltip img {
    height: auto;
    width: 100%;
}

.home-sec-4-imgs {
    width: fit-content;
    margin: 0 auto;
}

.hs-5-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    max-width: 770px;
    transform: translateY(-35px);
}

.hs-6-img {
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
}

.hs-6-rays {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%) rotate(75deg);
    width: calc(100% / 12);
    z-index: 1;
}

.hs-6-rays img {
    width: 100%;
}

.sec-title {
    font-size: 44px;
}

.recently-added .container {
    padding: 0 20px;
}

.recently-added .row {
    margin: -20px;
}

.recently-added .row>div {
    padding: 0 10px;
}

.recently-list-card {
    background-color: #FFFFFF;
}

.recently-list-card .plc-img {
    aspect-ratio: 16/10;
}

.plcb-line-grey {
    height: 23px;
    width: 1px;
    background-color: rgba(185, 185, 187, 1);
}

.recently-list-card {
    padding-bottom: 0 !important;
}

.recently-list-card * {
    color: #101044;
}

.recently-list-card .plc-num-plate {
    border-color: #101044;
}

.recently-list-card .plcb-circle {
    background-color: #101044;
}

.line-eeeeee {
    height: 1px;
    width: 100%;
    background-color: #EEEEEE;
}
.slick-arrow::before{
    content: unset;
}
.btn-sold {
    padding: 9px 16px;
    font-size: 16px;
    color: #ffffff;
    background-color: #F22B2B;
    border-radius: 6px;
    font-weight: 400;
    border-color: #F22B2B !important;
}

.btn-sold:hover {
    color: #F22B2B;
}

.home-cta-box {
    max-width: 988px;
    margin: 0 auto;
    border-radius: 30px;
    background-color: #ffffff;
    padding: 38px 62px;
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
}

.hcb-title {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 32px;
    color: #695DFD;
    line-height: 110%;
    font-weight: 500;
}

.hcb-btn {
    line-height: 45px;
    padding: 12px 60px;
    font-size: 24px;
    white-space: nowrap;
}

.hcb-btn img {
    height: 25px;
}

.testimonials-sec {
    background-color: #EEF0FF;
    border-radius: 40px 40px 0 0;
    position: relative;
    bottom: -38px;
    z-index: 0;
}

.testimonials-sec .sec-title {
    color: #101044;
}

.ts-slide-cont {
    padding: 0 10px;
}

.ts-box {
    padding: 50px;
    border-radius: 10px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.ts-stars {
    display: flex;
    gap: 6.5px;
}

.ts-star {
    width: 29px;
}

.ts-text {
    font-size: 24px;
    margin-bottom: 0;
    color: #101044;
}

.ts-user-cont {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ts-user-img {
    height: 56px;
    width: 56px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.ts-user-name {
    color: #101044;
    font-size: 20px;
    line-height: 100%;
    font-weight: 600;
    margin-bottom: 0px;
}

.ts-user-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ts-user-location {
    font-size: 16px;
    font-weight: 400;
    color: #595959;
    line-height: 100%;
}

.ts-flex-1 {
    gap: 60px;
    display: flex;
    flex-direction: column;
}

.ts-flex-1 .slick-arrows {
    position: static;
    transform: unset;
    height: unset;
    width: unset;
}

.ts-slider-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.slick-arrow rect {
    transition: 0.3s ease-in-out;
}

.slick-arrow:hover rect {
    fill: var(--parrot);
    stroke: var(--parrot);
}
.container-relative {
    position: relative;
}
@media (max-width:2000px) {
    .homepage section {
        position: relative;
    }
    .container-relative {
        position: unset;
    }
}

/* Homepage Ends */
@media (min-width: 1400px) {

    .hs-5-img {
        width: 40%;
    }

    /* .container-relative {
        position: relative;
    } */

    .footer-cont {
        max-width: 1220px;
        margin: 0 auto;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1384px;
    }
}

@media (max-width: 1400px) {

    .pf-content {
        max-width: 550px;
    }

    .pf-cont {
        background-size: 600px auto;
    }

    .signup-header {
        background-size: 60%, cover;
        height: 650px;
    }
}

@media (max-width: 1200px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--midnight);
        padding: 20px;
        border-radius: 0 0 20px 20px;
    }

    .ft-flex-1 {
        flex-wrap: wrap;
    }

    .hht-6 {
        transform: translate(40%, -50%);
    }

    .hs-5-img {
        transform: unset;
    }

    .hs-title {
        font-size: 45px;
    }

    .hs-2-img {
        width: 315px;
    }
}

@media (max-width: 992px) {

    .sec-title {
        font-size: 32px;
    }

    .ft-middle {
        flex-grow: 1;
        justify-content: space-between;
        order: 3;
    }

    .ft-right {
        order: 2;
    }

    .form-lines {
        display: none;
    }

    .pf-content {
        max-width: 100%;
    }

    .pf-cont {
        padding: 70px 12px 0;
        background-image: unset;
    }

    .pf-title {
        font-size: 36px;
    }

    .pf-title img {
        height: 36px;
    }

    .pf-subtitle {
        font-size: 18px;
    }

    .signup-header,
    .home-header {
        background-size: 60%, cover;
        height: 500px;
    }

    .home-hero-content {
        margin-bottom: 200px !important;
    }

    .shc-title h2,
    .hhc-title h2 {
        font-size: 48px;
    }

    .shc-title img,
    .hhc-title img {
        height: 48px;
    }

    .shb-content img {
        height: 40px;
    }

    .shb-img-cont img {
        height: 150px;
    }

    .shb-title {
        font-size: 20px;
    }

    .shb-link {
        font-size: 16px;
        font-weight: 500;
        color: #695DFD;
        text-decoration: underline;
    }

    .signup-help-box {
        padding-right: 20px;
        gap: 20px;
    }

    .hh-tooltip img {
        height: 50px;
    }

    .hht-6 img {
        width: 200px;
        height: auto;
    }

    .hs-3-imgs {
        position: relative;
        width: 100%;
        left: -12px;
    }

    .hs-5-img {
        position: relative;
        left: -12px;
        bottom: unset;
        width: 100%;
        transform: translateY(0);
    }

    .hs-6-img {
        position: relative;
        right: unset;
        top: unset;
        width: 100%;
        transform: translateX(12px);
    }

    .home-cta-box {
        flex-direction: column;
        align-items: center;
    }

    .home-cta-box>* {
        width: 100%;
    }

    .hcb-title {
        justify-content: center;
    }
    .home-sec-2-imgs{
        transform: translateX(-25%) translateY(15%);
    }
}

@media (max-width: 768px) {
    .navbar-brand img {
        height: 40px !important;
    }

    .nr-chat-link svg,
    .nr-profile-link img {
        height: 36px;
        width: 36px;
    }

    .ft-logo-link img {
        height: 36px;
    }

    .ft-middle {
        gap: 30px;
    }

    .ft-right {
        width: 100%;
    }

    .form-page {
        background-size: 100% auto, 100% 100%;
    }

    .signin-car-float {
        height: 180px;
    }

    .signup-flex-main {
        padding: 75px 0;
        gap: 50px;
    }

    .signup-form-box {
        padding: 30px 20px;
        gap: 20px;
    }

    .signup-cta {
        padding: 75px 0;
    }

    .signup-cta-title {
        font-size: 36px;
    }

    .sfs-nav {
        align-items: flex-start;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto;
    }

    .sfs-nav .nav-item {
        flex-direction: row;
    }

    .sfs-nav .nav-item:nth-child(2) .nav-link::before {
        width: 2px;
        height: 25px;
        left: 50%;
        top: 0;
        transform: translate(-50%, -108%);
    }

    .sfs-nav .nav-item:nth-child(2) .nav-link::after {
        width: 2px;
        height: 25px;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, 82%);
    }

    .signup-form-content {
        gap: 24px;
    }

    .sfb-btn {
        margin-top: 24px;
    }

    .scb-box {
        font-size: 14px;
        font-weight: 300;
        padding: 16px;
    }

    .scb-title {
        font-size: 30px;
        color: #695DFD;
        font-weight: 500;
    }

    .scb-desc {
        font-size: 16px;
    }

    .signup-confirm-cont {
        background-size: 120% auto;
    }

    .signupInfoModal .modal-content {
        border-radius: 20px;
        padding: 20px;
    }

    .signupInfoModal .btn-close svg {
        height: 30px;
    }

    .signupInfoModal .modal-header {
        padding-bottom: 10px !important;
    }

    .home-hero-car-cont {
        width: 90%;
    }

    .home-header {
        margin-bottom: 100px;
    }

    .home-sec-content {
        gap: 16px;
    }

    .hs-counter {
        height: 36px;
        width: 36px;
    }

    .hs-title {
        font-size: 36px;
    }

    .hs-desc {
        font-size: 16px;
    }
}


@media (max-width: 576px) {
    .ft-middle {
        gap: 30px;
        flex-wrap: wrap;
    }

    .ft-flex-1 {
        gap: 40px;
    }

    .search-filters {
        gap: 12px;
    }

    .signup-header {
        background-size: 70%, cover;
        height: 300px;
    }

    .shc-title h2 {
        font-size: 36px;
    }

    .shc-title img {
        height: 36px;
    }

    .signup-help-box {
        padding-right: 0;
        padding-bottom: 15px;
        gap: 20px;
        flex-direction: column;
    }

    .shb-content {
        padding: 0 15px;
    }

    .shb-img-cont {
        width: 100%;
    }

    .home-hero-car-cont {
        width: 98%;
    }

    .hht-1 {
        left: 0%;
    }

    .hs-2-img {
        width: 250px;
    }

    .hs-2-img img {
        width: 100%;
    }

    .hs-2-img-2 {
        left: 100px;
    }

    .hs-2-img-1 {
        position: relative;
    }

    .hht-3 {
        top: 0;
        left: 30%;
        transform: translate(-50%, -90%);
    }

    .home-sec-4-imgs {
        margin: unset;
    }

    .home-cta-box {
        padding: 30px;
    }

    .hcb-title {
        font-size: 24px;
        gap: 12px;
    }

    .hcb-title img {
        height: 44px;
    }
}

@media (max-width: 440px) {


    .hht-6 {
        transform: translate(40%, -50%);
    }
}